body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.introduction{
    width: 50%;
    padding-left: 5%;
}
.image{
    width: 50%;
    padding: 5%;
}
.image img{
    width: 80%;
}
.link-button{
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
}
/*second part*/
#dream-big{
    margin-top: 40px;
    height: 500px;
    padding-bottom: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
.pr-10{
    padding-right: 12%;
}
.w-40{
    width: 40%;
}
.w-40 img{
    width: 90%;
    padding: 5%;
}
.w-60{
    width: 60%;
}