body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.introduction{
    width: 50%;
    padding-left: 5%;
}
.br{
    border: 2px solid yellowgreen;
}
.image{
    width: 50%;
    padding-left: 40px;
}
.image img{
    width: 80%;
}
.link-button{
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
}
/*second part*/
#dream-big{
    margin-top: 40px;
    height: 500px;
    padding-bottom: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
.pr-10{
    padding-right: 12%;
}
.w-40{
    width: 40%;
}
.w-40 img{
    width: 90%;
    padding: 5%;
}
.w-60{
    width: 60%;
}
/*3rd section*/
#experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.w-50{
    width: 50%;
}
.flexible-container{
    display: flex;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
   padding: 15px;
    margin: 0 5%;
    border-radius: 10px;
}
#full-stack-experince{
    border-left:  7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#web-dev-experince{
    border-left:  7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.copyright{
    text-align: center;
    margin-top: 80px;
}
/* Media Query  */
@media (max-width: 768px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    #top-banner{
        display: flex;
        flex-direction: column;
        max-width: 97vw;
    }
    .introduction{
        width: 100%;
        order: 1;
        padding: 5px;
    }
    .image{
        text-align: center;
        width: 100%;
        padding: 0;
    }
    #dream-big{
        display: flex;
        flex-direction: column;
        padding: 5px;
        height: auto;
        margin-bottom: 40px;
    }
    #dream-big div{
        width: 100%;
    }
    .flexible-container{
        flex-direction: column;
        padding: 5px;
    }
    .w-50,.w-60,.w-40{
        width: 100%;
        padding: 0;
    }
    .experience-item{
        padding: 0;
        margin: 0;
    }
    #full-stack-experince,#web-dev-experince{
        border: none;
        margin-bottom: 40px;
        padding-left: 5px;
    }
}